*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 
https://developer.mozilla.org/ko/docs/Web/CSS/Using_CSS_custom_properties
규칙 집합의 선택자는 사용자 지정 속성을 사용할 수 있는 범위를 정의합니다. 
흔히 보이는 패턴은 :root 의사 클래스에 선언해서 여러분의 HTML 문서 어디에서나 사용자 지정 속성에 접근할 수 있도록 구성하는 것입니다.

:root {
  --main-bg-color: brown;
} 

.one {
  color: white;
  background-color: var(--main-bg-color);
  margin: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

*/


:root{
    --clr: #222327;
}